@import "tailwindcss";

.curved-rectangle {
    --c: 85; 
    
    width: 100%;
    aspect-ratio: 2.25 /1;
    mask: radial-gradient(calc(var(--c)*1%) 100% at 200% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 1px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);

} 